
\.project

\.idea/

*.class

out/artifacts/AcceleoStandalone_jar/

out/production/metamodels/

out/production/AcceleoStandalone/metamodels/

out/production/AcceleoStandalone/mtl/

out/production/AcceleoStandalone/

src/mtl/

lib/

\.classpath

\.settings/

*.iml

*.mtl

*.emtl

*.xtext

*.ecore
